{% extends "base.html" %}

  <!-- Page Header -->
{% block header %}
  <header class="masthead" style="background-image: url({{ url_for('static', path='/img/home-bg.jpg') }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blog Home</h1>
            <span class="subheading">A Dev's Blog by smetam</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}


<!-- Main Content -->
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div hx-get="{{ url_for('posts', page=page + 1) }}" hx-trigger="revealed" hx-swap="afterend">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
