{% extends "base.html" %}

  <!-- Page Header -->
{% block header %}
  <header class="masthead" style="background-image: url({{ url_for('static', path='/img/post-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> {{ post.title }} </h1>
            {% for tag in post.tag_list %}
              <span class="badge badge-secondary">#{{ tag }}</span>
            {% endfor %}
            <h2 class="subheading"> {{ post.subtitle }} </h2>
            <span class="meta">Posted by
              <a href="{{ url_for('about') }}"> {{ post.author }} </a>
              on {{ post.date.strftime('%B %d, %Y') }} </span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

  <!-- Post Content -->
{% block content %}

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.content | safe}}
        </div>
        <div class="col-lg-8 col-md-10 mx-auto">
          <script src="https://utteranc.es/client.js"
            repo="smetam/utterances-comments"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
          </script>
        </div>
      </div>
    </div>
  </article>

{% endblock %}
