{% extends "base.html" %}

  <!-- Page Header -->
{% block header %}
  <header class="masthead" style="background-image: url({{ url_for('static', path='/img/home-bg.jpg') }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Tags</h1>
            <span class="subheading">Quick navigation</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

  <!-- Main Content -->
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for tag in tags %}
        <div class="post-preview">
          <a href="{{ url_for('tag', tag_id=tag.tag_id) }}">
            <h2 class="post-title">
              {{ tag.name }}
            </h2>
        </div>
        <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">More Tags &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

